<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LogIn into Medcare's </title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<header class="header">

    <a href="admin_login" class="logo"> <i class="fas fa-heartbeat"></i> Mentcare </a>

</header>

<br/>
<br/>
<br/>
<br/>
<br/>

<section class="login" id="login" >
    <br/>
    <br/>
    <br/>
    <br/>
    <h1 class="heading"> <span>ADMIN LOG IN</span></h1>

    <div class="row">

        <form action="create_admin" method="post">
            <h3>Log in as Admin</h3>
            <input type="text" name="username" placeholder="Username" class="box">
            <input type="password" name="password" placeholder= "Password"class="box">
            <p name="error" class="error" th:text="${error}"></p>
            <br>
            <input type="submit" value="Submit" class="btn">
        </form>

    </div>

</section>

</body>
</html>