<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patients list</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <link rel="stylesheet" href="css/style.css" th:href="@{css/style.css}">

</head>
<body>
<header class="header">

    <a class="logo"> <i class="fas fa-heartbeat"></i> Mentcare </a>

    <nav class="navbar">
        <a href="admin_home">home</a>
        <a href="all_medics_list">all medics</a>
        <a href="add_new_medic">new medic</a>
        <a href="all_patients_list">all patients</a>
        <a href="add_new_patient">new patient</a>
        <a href="admin_login">logout</a>
    </nav>

    <div id="menu-btn" class="fas fa-bars"></div>

</header>
<div class="list" >
    <br/>
    <br/>
    <br/>
    <br/>
    <h1 class="heading"><span>all registered patients </span></h1>
    <br/>
    <br/>
    <br/>
    <br/>
    <table border="1" class="content-table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Age</th>
            <th>Telephone</th>
            <th>Diagnosis</th>
            <th>Edit</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="patient: ${patients}">
            <td th:text="${patient.getId()}"> <b>10 </b></td>
            <td th:text="${patient.getName()}"> John </td>
            <td th:text="${patient.getSurname()}"> John </td>
            <td th:text="${patient.getAge()}"> 10 </td>
            <td th:text="${patient.getTelephone()}"> +390000000 </td>
            <td th:text="${patient.getDiagnosis()}"> Diagnosis </td>
            <td> <a th:href="@{edit_patient(id=${patient.getId()})}"> Edit </a></td>
        </tr>
        </tbody>
    </table>
    <p name="error" class="error" th:text="${error}"></p>
    <a href="add_new_patient" class="btn"> Add new patient <span class="fas fa-chevron-right"></span> </a>
</div>

</body>
</html>